.table-siswa,
.table-date {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  padding: 0;
}

.table-siswa td {
  border: 1px solid silver;
  position: relative;
  padding: 5px;
}

td {
  min-width: 0;
}

.td-date .date {
  display: inline-block;
  width: 50px;
}

.label-checkbox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  display: block;
  background: #cecece;
}

.label-checkbox:hover {
  background: #bff8ff;
}

.label-checkbox input {
  margin: 0pxd;
  -webkit-appearance: none;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border: 0;
  cursor: pointer;
  outline: none;
}

.label-checkbox.active,
.label-checkbox.active input,
.label-checkbox input:checked {
  background: #5cb874;
}

.label-checkbox.active::before {
  content: "✓";
  display: block;
  position: absolute;
  z-index: 5;
  color: #fff;
  top: 15%;
  left: 35%;
}

.box-color {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.box-color.true {
  background: #2196f3;
}

.box-color.false {
  background: #cecece;
}

.header {
  min-width: max-content;
}
